* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Product Sans';
}
body {
    width: 100%;
    min-height: 100vh;
    background: url('../images/people_bg_repeat.jpg');
    background-size: cover;
}
.top-menu-bar {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img {
    width: 96px;
    transform: translateX(70px);
}
.menus {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.64);
    transition: 0.16s ease;
    padding: 16px 40px;
    border-radius: 8px;
}
.menus:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.016);
}
.menus:active {
    color: rgb(48, 27, 54);
    background: #fff;
}
.log-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 900px;
}
.login-main-box {
    padding: 16px 40px;
    background: #0f1120;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading {
    color: rgba(255, 255, 255, 0.8);
}
.sub-heading {
    color: rgba(255, 255, 255, 0.3);
    font-weight: lighter;
    margin-bottom: 32px;
}
.sub-login-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.input-box {
    min-width: 320px;
    padding: 16px 32px;
    border-radius: 8px;
    background: linear-gradient(white,rgb(231, 231, 231));
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.input-box:focus {
    background: white;
}
.input-label {
    color: rgb(231,231,231);
    font-weight: bold;
    margin-bottom: 5px;
}
.log-button {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
    color: #fff;
    cursor: pointer;
}
.active {
    color: rgb(237, 215, 243);
    background: rgba(255, 255, 255, 0.199);
}
.success-message {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(112, 255, 119, 0.849);
    color: #1f5328;
    text-shadow: 0 1px rgba(255, 255, 255, 0.26);
    width: 400px;
    text-align: center;
    border-radius: 8px;
    transform: translateY(16px);
    transform-origin: center;
    backface-visibility: hidden;
    animation: lm 0.5s 5s forwards;
}
.error-message {
    padding: 8px;
    font-size: 16px;
    color: #4d1717;
    font-weight: bold;
    background: #db5858;
    text-shadow: 0 1px rgba(255, 255, 255, 0.26);
    width: 400px;
    text-align: center;
    border-radius: 8px;
    transform: translateY(16px);
    transform-origin: center;
    backface-visibility: hidden;
    animation: lm 0.5s 5s forwards;
}
/* @keyframes flip {
    0% {transform: translateY(16px) rotateX(0deg);}
    100% {transform: translateY(16px) rotateX(-90deg);}
} */
.logout-message{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    background: rgba(112, 255, 119, 0.849);
    color: #1f5328;
    padding: 8px 104px;
    top: 2%;
    border-radius: 8px;
    animation: lm 0.5s 5s forwards;
}
@keyframes lm {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2%);
    }
}
.warning-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(253, 255, 112);
    color: #8d842f;
    font-weight: bold;
    padding: 8px 104px;
    top: 2%;
    border-radius: 8px;
    animation: lm 0.5s 5s forwards;
}
.red-message {
    position: absolute;
    padding: 8px;
    font-size: 16px;
    color: #4d1717;
    font-weight: bold;
    background: #db5858;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    animation: lm 0.5s 5s forwards;
}
.main-container {
    position: relative;
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: space-around;
}
.left-container {
    position: relative;
    width: 20%;
    height: 100%;
    background: #170D45;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.right-container {
    position: relative;
    width: 78%;
    height: 100%;
    /* background: #170D45; */
    border-radius: 8px;
    overflow: hidden;
}
.no-group-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #170D45;
    background: url("../images/group-image-bg.webp");
    background-size: cover;
    background-position-y: -400px;
}
.no-group-img {
    width: 300px;
}
.group-button-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    transform: translateY(32px);
}
.group-button {
    padding: 16px 32px;
    background: #1d1250;
    border-radius: 8px;
    color: rgb(207, 207, 207);
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.1s ease;
    text-align: center;
    border: none;
}
.group-button:hover {
    background: #241663;
    color: #fff;
}
.pdspace {
    padding-right: 10px;
}
.join-group {
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
    color: #fff;
}
.join-group:hover {
    background: linear-gradient(rgb(76, 76, 187),rgb(76, 76, 187));
}
.welcome-note {
    font-size: 40px;
    z-index: 2;
    color: #fff;
}
.welcome-sub-note {
    z-index: 2;
    color: rgb(187, 187, 187);
}
.black-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0e101f8c;
}
.join-group-form {
    transform: translateY(16px);
    position: relative;
}
.group-label {
    color: rgba(255, 255, 255, 0.295);
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 32px;
    padding: 8px;
    letter-spacing: 2px;
}
.group-input {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.459);
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border: none;
    letter-spacing: 16px;
    text-align: center;
    text-transform: uppercase;
}
.group-input:focus {
    background: rgba(0, 0, 0, 0.555);
}
.group-input-create {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.459);
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border: none;
    text-align: center;
}
.group-input-create:focus {
    background: rgba(0, 0, 0, 0.555);
}
.join-button {
    padding: 16px 32px;
    border-radius: 8px;
    color: #fff;
    background: #302368;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}
.join-button:hover {
    background: linear-gradient(rgb(81, 192, 81),rgb(81, 192, 81));
}
.cancel-button {
    padding: 16px 32px;
    background: #1d1250d8;
    border-radius: 8px;
    color: rgb(207, 207, 207);
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.1s ease;
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.cancel-button:hover {
    background: #a73a3a;
    color: #fff;
}
.user-info-box {
    position: relative;
    width: 100%;
    height: 240px;
    background: red;
    background-image: url("../images/thumb2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
}
.image-black-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0),#170D45);
}
.user-infos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.user-infos h4 {
    color: rgba(187,187,187);
}
.user-infos h2 {
    color: white;
    text-transform: capitalize;
}
.user-menus {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 5px;
}
.uicons {
    margin-right: 16px;
}
.user-menu-buttons {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    background: #1d1250;
    color: rgb(214, 214, 214);
    font-weight: bold;
    transition: 0.1s ease;
    font-size: 16px;
}
.user-menu-buttons:hover {
    background: #241663;
    color: #fff;
}
.user-menu-buttons:active {
    background: white;
    color: #333;
}
.group-detail-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.group-member-box {
    position: relative;
    width: 69%;
    height: 100%;
    background: #16121C;
    border-radius: 8px;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.group-member-box::-webkit-scrollbar {
    width: 0;
}
.group-member-box::-webkit-scrollbar-thumb {
    background: #1a1520;
}
.group-details-box {
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 8px;
    background: #373C73;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.group-details-box img {
    width: 100%;
    position: relative;
    
}
.group-detail-sub {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-name {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
.group-code {
    position: absolute;
    top: 2%;
    right: 5%;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    color: rgb(143, 143, 143);
}
.group-hostname {
    position: relative;
    padding: 4px;
    font-size: 16px;
    color: rgb(143, 143, 143);
}
.group-hostname span {
    color: rgb(175, 175, 175);
}
.total-members {
    text-align: center;
    position: relative;
    color: rgb(230, 230, 230);
    z-index: 2;
}
.member-sub-text {
    text-align: center;
    font-size: 12px;
    color: rgb(173, 173, 173);
}
.review-box {
    position: relative;
    width: 100%;
    padding: 8px;
    background: rgba(255, 255, 255, 0.034);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.review-top {
    position: relative;
    width: 100%;
    padding: 8px;
    background: transparent;
}
.review-bottom {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(37, 37, 37);
    height: 0;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.review-box:hover .review-bottom {
    padding: 8px;
    height: inherit;
    opacity: 1;
}
.review-input {
    padding: 16px 16px 16px 64px;
    width: 85%;
    border: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.459);
    color: #fff;
    font-size: 16px;
}
.review-button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    margin-left: 8px;
    display: flex;
    color: rgb(236, 236, 236);
    cursor: pointer;
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
}
.review-icon {
    position: absolute;
    padding: 14px;
    color: rgb(44, 44, 44);
    font-size: 23px;
    border-radius: 8px 0 0 8px;
    background: linear-gradient( rgb(20, 20, 20),rgb(15, 15, 15));
}
.group-username {
    padding: 4px 16px;
    display: inline-block;
    border-radius: 30px;
    color: rgb(192, 192, 192);
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
}
.group-user-about {
    color: rgb(170, 170, 170);
    padding: 4px 0;
}
.empty-group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/empty_group.png");
    background-repeat: no-repeat;
    background-position: center;
}