* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Product Sans';
}
body {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/people_bg_repeat.jpg');
    background-size: cover;
}
.top-menu-bar {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img {
    width: 96px;
    transform: translateX(70px);
}
.menus {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.64);
    transition: 0.16s ease;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}
.menus:hover {
    color: rgba(255, 255, 255, 1);
    padding: 16px 32px;
    background: rgba(255, 255, 255, 0.016);
}
.menus:active {
    color: rgb(48, 27, 54);
    background: #fff;
}
.menus:hover .name-menu {
    display: block !important;
}
.log-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 900px;
}
.login-main-box {
    padding: 16px 40px;
    background: #0f1120;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading {
    color: rgba(255, 255, 255, 0.8);
}
.sub-heading {
    color: rgba(255, 255, 255, 0.3);
    font-weight: lighter;
    margin-bottom: 32px;
}
.sub-login-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.input-box {
    min-width: 320px;
    padding: 16px 32px;
    border-radius: 8px;
    background: linear-gradient(white,rgb(231, 231, 231));
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.input-box:focus {
    background: white;
}
.input-label {
    color: rgb(231,231,231);
    font-weight: bold;
    margin-bottom: 5px;
}
.log-button {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
    color: #fff;
    cursor: pointer;
}
.active {
    color: rgb(237, 215, 243);
    background: rgba(255, 255, 255, 0.199);
}
.success-message {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(112, 255, 119, 0.849);
    color: #1f5328;
    text-shadow: 0 1px rgba(255, 255, 255, 0.26);
    width: 400px;
    text-align: center;
    border-radius: 8px;
    transform: translateY(16px);
    transform-origin: center;
    backface-visibility: hidden;
    animation: lm 0.5s 5s forwards;
}
.error-message {
    padding: 8px;
    font-size: 16px;
    color: #4d1717;
    font-weight: bold;
    background: #db5858;
    text-shadow: 0 1px rgba(255, 255, 255, 0.26);
    width: 400px;
    text-align: center;
    border-radius: 8px;
    transform: translateY(16px);
    transform-origin: center;
    backface-visibility: hidden;
    transition: 0.3s ease; 
    
}
/* @keyframes flip {
    0% {transform: translateY(16px) rotateX(0deg);}
    100% {transform: translateY(16px) rotateX(-90deg);}
} */
.logout-message{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    background: rgba(112, 255, 119, 0.849);
    color: #1f5328;
    padding: 8px 104px;
    top: 2%;
    border-radius: 8px;
    animation: lm 0.5s 5s forwards;
}
@keyframes lm {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2%);
    }
}
.warning-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(253, 255, 112);
    color: #8d842f;
    font-weight: bold;
    padding: 8px 104px;
    top: 2%;
    border-radius: 8px;
    animation: lm 0.5s 5s forwards;
}
.red-message {
    position: absolute;
    padding: 8px;
    font-size: 16px;
    color: #4d1717;
    font-weight: bold;
    background: #db5858;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    animation: lm 0.5s 5s forwards;
}
.main-container {
    position: relative;
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: space-around;
}
.left-container {
    position: relative;
    width: 20%;
    height: 100%;
    background: #170D45;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.right-container {
    position: relative;
    width: 78%;
    height: 100%;
    /* background: #170D45; */
    border-radius: 8px;
    overflow: hidden;
}
.no-group-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #170D45;
    background: url("../images/group-image-bg.webp");
    background-size: cover;
    background-position-y: -400px;
}
.no-group-img {
    width: 300px;
}
.group-button-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    transform: translateY(32px);
}
.group-button {
    padding: 16px 32px;
    background: #1d1250;
    border-radius: 8px;
    color: rgb(207, 207, 207);
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.1s ease;
    text-align: center;
    border: none;
}
.group-button:hover {
    background: #241663;
    color: #fff;
}
.pdspace {
    padding-right: 10px;
}
.join-group {
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
    color: #fff;
}
.join-group:hover {
    background: linear-gradient(rgb(76, 76, 187),rgb(76, 76, 187));
}
.welcome-note {
    font-size: 40px;
    z-index: 2;
    color: #fff;
}
.welcome-sub-note {
    z-index: 2;
    color: rgb(187, 187, 187);
}
.black-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0e101f8c;
}
.join-group-form {
    transform: translateY(16px);
    position: relative;
}
.group-label {
    color: rgba(255, 255, 255, 0.295);
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 32px;
    padding: 8px;
    letter-spacing: 2px;
}
.group-input {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.459);
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border: none;
    letter-spacing: 16px;
    text-align: center;
    text-transform: uppercase;
}
.group-input:focus {
    background: rgba(0, 0, 0, 0.555);
}
.group-input-create {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.459);
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border: none;
    text-align: center;
}
.group-input-create:focus {
    background: rgba(0, 0, 0, 0.555);
}
.join-button {
    padding: 16px 32px;
    border-radius: 8px;
    color: #fff;
    background: #302368;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}
.join-button:hover {
    background: linear-gradient(rgb(81, 192, 81),rgb(81, 192, 81));
}
.cancel-button {
    padding: 16px 32px;
    background: #1d1250d8;
    border-radius: 8px;
    color: rgb(207, 207, 207);
    font-weight: bold;
    box-sizing: border-box;
    transition: 0.1s ease;
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.cancel-button:hover {
    background: #a73a3a;
    color: #fff;
}
.user-info-box {
    position: relative;
    width: 100%;
    height: 320px;
    background: red;
    background-image: url("../images/thumb2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
}
.image-black-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0),#170D45);
}
.user-infos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.user-infos h4 {
    color: rgba(187,187,187);
}
.user-infos h2 {
    color: white;
    text-transform: capitalize;
}
.user-menus {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 5px;
}
.uicons {
    margin-right: 16px;
}
.user-menu-buttons {
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    background: #1d1250;
    color: rgba(214, 214, 214, 0.705);
    font-weight: bold;
    transition: 0.1s ease;
    font-size: 16px;
    display: flex;
}
.user-menu-buttons:hover {
    background: white;
    color: #333;
}
.user-menu-buttons:active {
    background: white;
    color: #333;
}
.group-detail-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.group-member-box {
    position: relative;
    width: 69%;
    height: 100%;
    background: #16121C;
    border-radius: 8px;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.group-member-box::-webkit-scrollbar {
    width: 0;
}
.group-member-box::-webkit-scrollbar-thumb {
    background: #1a1520;
}
.group-details-box {
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 8px;
    background: #373C73;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.group-details-box img {
    width: 100%;
    position: relative;
    
}
.group-detail-sub {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-name {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
.group-code-box {
    position: absolute;
    top: 2%;
    right: 0;
    display: flex;
    font-size: 16px;
    color: rgb(143, 143, 143);
    padding: 8px;
}
.group-code {
    font-weight: bold;
    font-size: 16px;
    color: rgb(143, 143, 143);
    background: transparent;
    border: none;
    width: 80px;
}
.group-hostname {
    position: relative;
    padding: 4px;
    font-size: 16px;
    color: rgb(143, 143, 143);
}
.group-hostname span {
    color: rgb(175, 175, 175);
}
.total-members {
    text-align: center;
    position: relative;
    color: rgb(230, 230, 230);
    z-index: 2;
}
.member-sub-text {
    text-align: center;
    font-size: 12px;
    color: rgb(173, 173, 173);
}
.review-box {
    position: relative;
    width: 100%;
    padding: 8px;
    background: rgba(255, 255, 255, 0.014);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.review-box:hover {
    background: rgba(255, 255, 255, 0.034);
}
.review-top {
    position: relative;
    width: 100%;
    padding: 8px;
    background: transparent;
}
.review-bottom {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(37, 37, 37);
    height: 0;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.review-box:hover .review-bottom {
    padding: 8px;
    height: inherit;
    opacity: 1;
}
.review-input {
    padding: 16px 16px 16px 64px;
    width: 85%;
    border: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.459);
    color: #fff;
    font-size: 16px;
}
.review-button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    margin-left: 8px;
    display: flex;
    color: rgb(236, 236, 236);
    cursor: pointer;
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
}
.review-icon {
    position: absolute;
    padding: 18px;
    color: rgb(44, 44, 44);
    font-size: 18px;
    border-radius: 8px 0 0 8px;
    background: linear-gradient( rgba(20, 20, 20, 0),rgba(15, 15, 15, 0));
}
.group-username {
    padding: 4px 16px;
    display: inline-block;
    border-radius: 30px;
    color: rgb(192, 192, 192);
    background: linear-gradient(rgb(116, 116, 255),rgb(90, 90, 226));
}
.group-user-about {
    color: rgb(170, 170, 170);
    padding: 4px 0;
}
.empty-group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/empty_group.png");
    background-repeat: no-repeat;
    background-position: center;
}
.main-review-box {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: #170D45; */
    background: #130028;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 8px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.main-review-box::-webkit-scrollbar {
    width: 0;
}
.review-container {
    position: relative;
    padding: 16px;
    background: #1c1050;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
}
.review-container:hover {
    opacity: 1;
}
.review-user-box {
    position: relative;
    padding: 32px;
    border-radius: 8px;
    display: inline-block;
    background: linear-gradient(rgb(85, 85, 235),rgb(61, 61, 185));
    background-image: url("../images/stay-pic.png");
    background-size: cover;
    background-position: center;
}
.review-container:hover .review-user-box {
    background-image: url("../images/laced_up_dribbble_9.gif");
}
.review-text {
    position: relative;
    color: #fff;
    padding-left: 16px;
    text-transform: capitalize;
    width: 64%;
    justify-content: center;
}
.review-container:hover .mark-as-read-box{
    opacity: 1;
}
.mark-as-read-box {
    position: absolute;
    right: 15px;
    width: 20%;
    opacity: 0;
    height: 100%;
    background-image: url("../images/mark_as_read.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mark-as-read {
    font-weight: bolder;
    position: relative;
    left: 32px;
    color: rgb(233, 233, 233);
}
.mark-as-read-box:hover .mark-as-read {
    color: #fff;
}
.video-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-text-box {
    position: absolute;
    top: 20%;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    z-index: 3;
}
.video-text {
    font-size: 56px;
    color: rgba(255, 255, 255, 0.315);
}
.no-review-video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
.show-group-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #16121C;
    display: flex;
    padding: 8px;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
.show-group-main-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.main-title-groups {
    font-weight: bolder;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.925);
    width: 100%;
    text-align: center;
    padding-top: 16px;
    z-index: 4;
}
.my-each-group {
    position: relative;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    row-gap: 8px;
    column-gap: 8px;
    flex-wrap: wrap;
}
.each-group-box {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background: #021121;
    z-index: 2;
    overflow: hidden;
}
.each-group-box:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 5;
    transition: 0.1s ease;
}
.each-group-box:hover:before {
    background: rgba(255, 255, 255, 0.048);
}
.each-gp-video-box {
    width: 100%;
    position: absolute;
    height: 60%;
}
.each-gp-video {
    width: 200%;
    transform: translateX(-24%) scale(1.07);
    transition: 1s ease-out;
}
.each-group-box:hover .each-gp-video {
    transform: translateX(-24%) scale(1.2);
}
.each-gp-details-box {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.group-each-black-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.575));
    top: 0;
    left: 0;
}
.group-each-name {
    color: rgba(255, 255, 255, 0.781);
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}
.group-each-username {
    color: rgba(255, 255, 255, 0.418);
    font-weight: lighter;
    padding: 8px 0;
}
.total-members-in-each-group {
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgba(255, 255, 255, 0.582);
}
.no-group-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.no-group-video {
    transform: translate(-20%,-10%);
}
.copy-message {
    position: absolute;
    color: rgb(207, 69, 235);
    background: rgba(0, 0, 0, 0.562);
    left: 50%;
    transform: translate(-50%,45%) ;
    padding: 8px 40px;
    border-radius: 50px;
    display: none;
    animation: lm 0.1s 5s forwards;
}
.group-close-button {
    z-index: 7;
    /* background: rgba(255, 255, 255, 0.034); */
    text-align: center;
    position: absolute;
    right: 3%;
    top: 18%;
    color:#50505f;
    background: #3a31472d;
    font-weight: bold;
    padding: 16px 7px 16px 16px;
    border-radius: 8px;
    display: flex;
    transition: 0.2s ease;
}
.group-close-buttons {
    z-index: 7;
    /* background: rgba(255, 255, 255, 0.034); */
    text-align: center;
    position: absolute;
    bottom: 4%;
    width: 86%;
    left: 7%;
    text-align: center;
    color:#33334b;
    background: #3a31472d;
    font-weight: bold;
    padding: 16px 7px 16px 16px;
    border-radius: 8px;
    transition: 0.2s ease;
}
.group-close-button:hover {
    color: rgb(255, 255, 255);
    padding: 16px 34px;
}
.group-close-button:hover .open-del {
    display: flex;
}
.group-close-buttons:hover {
    background: linear-gradient(rgb(228, 65, 37),rgb(197, 45, 25));
    color: #fff;
}
.open-button:hover {
    background: linear-gradient(rgb(121, 226, 60),rgb(145, 207, 45));
    color: #fff;
}
.total-review-box {
    width: 32px;
    height: 32px;
    background: #fff;
    position: absolute;
    right: 10%;
    bottom: 15%;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom center;
    animation: shake 1s linear;
}
@keyframes shake {
    40% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-10px) rotate(0deg);
    }
    55% {
        transform: translateY(-10px) rotate(-10deg);
    }
    60% {
        transform: translateY(-10px) rotate(10deg);
    }
    65% {
        transform: translateY(-10px) rotate(-10deg);
    }
    70% {
        transform: translateY(-10px) rotate(10deg);
    }
    85% {
        transform: translateY(-10px) rotate(-10deg);
    }
    90% {
        transform: translateY(-10px) rotate(10deg);
    }
    95% {
        transform: translateY(-10px) rotate(-10deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
.total-review-box p {
    color: #333;
    z-index: 5;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.user-menu-buttons:hover .total-review-box {
    background: rgb(35, 35, 87);
}
.user-menu-buttons:hover .total-review-box p {
    color: #fff;
}
.forgot-password-link {
    position: relative;
    left: -50%;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}
.forgot-password-link:hover {
    color: rgb(61, 113, 255);
}
.about-main-container {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body::-webkit-scrollbar {
    width: 0px;
    background: #12123E;
}
.about-box1 {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    background: #D6DEE6;
    background-image: url("../images/man.gif");
    background-size: cover;
    background-position: center;
}
.about-text-box1 {
    z-index: 3;
    position: absolute;
    top: 10%;
    right: 5%;
}
.text1 {
    font-size: 64px;
    color: #12123ea2;
}
.text1-sub1 {
    color: #12123e63;
    font-weight: lighter;
}
.about-box2 {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 5%;
    background: #00285F;
    overflow: hidden;
    border-radius: 8px;
}
.about-bg-video {
    position: absolute;
    height: 500px;
}
.about-text-box2 {
    z-index: 3;
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 6;
}
.text2 {
    font-size: 64px;
    font-family: 'Dreamscape Sans';
    color: #ffffff;
}
.text2-sub2 {
    color: #ffffff42;
    font-weight: lighter;
}
.text2-sub4 {
    color: #9c9c9c;
    font-weight: lighter;
}
.about-bg-video2 {
    position: absolute;
    right: 0;
    top: 0;
}
.about-text-box3 {
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 6;
}
.about-box3 {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 5%;
    background: linear-gradient( #21225C 10%,#5155BC);
    overflow: hidden;
    border-radius: 8px;
}
.video-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #21225C 30%,#5155bc00 70%);
    left: 0;
    top: 0;
    z-index: 5;
}
.video-cover2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00285F 30%,#5155bc00 70%);
    left: 0;
    top: 0;
    z-index: 5;
}
.about-box4 {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 5%;
    background: #506689;
    overflow: hidden;
    border-radius: 8px;
}
.video-cover3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #506689 50%,#5155bc00 70%);
    left: 0;
    top: 0;
    z-index: 5;
}
.about-main-vds {
    height: 800px;
    width: 800px;
    position: absolute;
    right: 0;
    top: -20%;
}
.about-box5 {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 1%;
    background: #D3DAE3;
    overflow: hidden;
    border-radius: 8px;
}
.video-cover4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #D3DAE3 50%,#5155bc00 70%);
    left: 0;
    top: 0;
    z-index: 5;
}
.correct-group {
    position: absolute;
    color: rgb(62, 190, 62);
    font-size: 24px;
    top: 24%;
    right: 10%;
    opacity: 0;
    transition: 0.2s ease;
}
.wrong-group {
    position: absolute;
    color: rgb(255, 75, 75);
    font-size: 24px;
    top: 24%;
    right: 10%;
    opacity: 0;
    transition: 0.2s ease;
}
.lod-anim {
    position: absolute;
    width: 40px;
    transform: translate(8px, -10px);
    visibility: hidden;
}
.logout-anim-box {
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(20px);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logout-heading {
    color: rgba(255, 255, 255, 0.932);
}
.logout-anim {
    width: 35px;
    transform: translate(8px, 10px);
    opacity: .932;
}
.logout-log {
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.377);
    text-align: center;
    padding: 16px;
}
.logout-log:after {
    animation: text-anim 1s forwards 10;
    content: '';
}
@keyframes text-anim {
    0% {
        content: '//bloom.com/user/info.temps/';
    }
    10% {
        content: '//bloom.com/user/info.temps234/';
    }
    20% {
        content: '//bloom.com/user/info/';
    }
    30% {
        content: '//bloom.com/user/data/';
    }
    40% {
        content: '//bloom.com/user/data/cache';
    }
    50% {
        content: '//bloom.com/user/data/cache.clear';
    }
    60% {
        content: '//bloom.com/user/';
    }
    70% {
        content: '//bloom.com/user/images/';
    }
    80% {
        content: '//bloom.com/user/groups/';
    }
    90% {
        content: '//bloom.com/user/attr/';
    }
    100% {
        content: '//bloom.com/user/info.temps/';
    }
}
.reload-members {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 32px;
    border-radius: 50px;
    background: linear-gradient(to top,rgb(243, 243, 243),white);
    color: #333;
    font-weight: bold;
    text-align: center;
    top: 50px;
    font-size:12px;
    display: none;
    animation: floating infinite 1s alternate ease;
}
@keyframes floating {
    from {
        transform: translateX(-50%) translateY(0px);
    }
    to {
        transform: translateX(-50%) translateY(10px);
    }
}
.account-settings-icon {
    font-size: 24px;
    padding-left: 13px;
    color: rgba(255, 255, 255, 0.945);
}
.settings-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px 10px;
    border-radius: 4px;
    color: rgb(231, 231, 231);
    font-size: 24px;
    background: rgba(255, 255, 255, 0.171);
    transition: 0.1s ease;
}
.left-container:hover .settings-icon {
    background: rgba(255, 255, 255, 0.171);
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.295);
}
.settings-icon:hover {
    color: rgb(231, 231, 231);
}
.account-settings {
    position: relative;
    width: 100%;
    height: 100%;
    background: #0F1120;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.account-box {
    position: relative;
    padding: 8px;
    border-radius: 8px;
    background: green;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* @media only screen and (max-width: 600px) {
    body {
        display: none;
    }
  } */
.friends-box-account {
    position: absolute;
    top: 4%;
    width: 100%;
    padding: 10px 30px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    column-gap: 16px;
    z-index: 10;
    justify-content: center;
}
.friends-box {
    position: relative;
    width: 60px;
    height: 60px;
    background: linear-gradient( rgb(73, 46, 192),rgb(84, 25, 139));
    border-radius: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bubble 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.friends-box2 {
    position: relative;
    width: 60px;
    height: 60px;
    background: linear-gradient( rgb(73, 46, 192),rgb(84, 25, 139));
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bubble 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes bubble {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.friends-short-name {
    color: #fff;
    font-weight: bold;
}
.friends-full-name {
    position: absolute;
    bottom: -20px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: rgb(197, 197, 197);
    font-weight: bold;
    opacity: 0;
}
.remove-friend {
    position: absolute;
    right: 4px;
    top: 4px;
    color: rgb(255, 87, 87);
    opacity: 0;
}
.friends-box:hover .remove-friend {
    opacity: 1;
}
.friends-box:hover .friends-full-name {
    opacity: 1;
}
.friends-box2:hover .remove-friend {
    opacity: 1;
}
.friends-box2:hover .friends-full-name {
    opacity: 1;
}
.already-friend-button {
    background: rgba(255, 255, 255, 0.014);
    color: rgba(255, 255, 255, 0.11);
    padding: 12px 32px;
    border-radius: 4px;
    display: flex;
    cursor: default;
    transition: 0.2s ease-out;
}
.review-box:hover .already-friend-button {
    right: 10%;
    top: 18px;
}
.add-friend-button {
    background: rgba(255, 255, 255, 0.123);
    color: rgba(255, 255, 255, 0.301);
    padding: 12px 32px;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    z-index: 10;
    opacity: 0;
}
.review-box:hover .add-friend-button {
    opacity: 1;
}
.open-add-friend {
    display: none;
}
.add-friends-buttons {
    position: absolute;
    right: 3%;
    top: 5%;
    color:#50505f;
    background: #3a31472d;
    padding: 16px 7px 16px 16px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    z-index: 10;
    transition: 0.2s ease;
}
.add-friends-buttons:hover .open-add-friend {
    display: flex;
}
.add-friends-buttons:hover {
    color: #fff !important;
    padding: 16px 34px;
}
.add-friends-buttons2 {
    position: absolute;
    right: 3%;
    top: 5%;
    color:#50505f;
    background: #3a31472d;
    padding: 16px 7px 16px 16px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    z-index: 10;
    transition: 0.2s ease;
}
.add-friends-buttons2:hover .open-add-friend {
    display: flex;
}
.add-friends-buttons2:hover {
    color: #fff !important;
    padding: 16px 34px;
}
.open-del {
    display: none;
}
.your-friend-list-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.801);
    z-index: 12;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}
.friends-zone {
    position: relative;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}
.outer-title {
    position: absolute;
    top: -24px;
    color: #fff;
    font-weight: bold;
}
#close-add-friends-box {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #fff;
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
}
.close-add-friends-box2 {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #fff;
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
}
.name-menu {
    display: none;
}
.notification-circle {
    font-size: 5px;
    position: absolute;
    color: red !important;
    transform: translateX(14px) translateY(-3px);
}
.notification-box {
    position: absolute;
    padding: 8px;
    width: 320px;
    top: 54px;
    right: -18px;
    background: rgba(255, 255, 255, 0.021);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: none;
    flex-direction: column;
    row-gap: 8px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.notification-box::-webkit-scrollbar {
    width: 3px;
}
.noti-bars {
    display: flex;
    padding: 12px;
    border-radius: 8px;
}
.noti-icon {
    color: rgba(255, 255, 255, 0.478);
}
.noti-text {
    color: rgba(255, 255, 255, 0.478);
    font-size: 14px;
    padding-left: 16px;
}
.noti-bars:hover {
    background: rgba(255, 255, 255, 0.021);
}
.noti-bars:hover .noti-icon {
    color: rgb(108, 255, 115);
}
.noti-bars:hover .noti-text {
    color: rgb(255, 255, 255);
}
#notibar:focus + #notilabel {
    display: none;
}
.group-options {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    padding: 24px 24px 24px 60px;
    box-sizing: border-box;
    background: #16121C;
    z-index: 12;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pulldownarrow {
    position: absolute;
    bottom: -40px;
    transform: translateX(-10px);
    color: rgba(255, 255, 255, 0.308);
    padding: 32px 32px 24px 32px;
    background:#16121C;
    font-size: 24px;
    clip-path: circle(30.8% at 50% 50%);
}
.group-options:hover {
    top: 0;
}
.group-options:hover .pulldownarrow {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.inside-review-option-box {
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    padding: 8px;
    column-gap: 8px;
}
#second-add-friends-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}
.delete-big-box {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 13;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
}
.del-buttons {
    border: none;
    background: rgba(255, 255, 255, 0.034);
    color: grey;
    border-radius: 8px;
    font-weight: bold;
    padding: 16px 40px;
    font-size: 16px;
    cursor: pointer;
}
.actual-del {
    background: linear-gradient(rgb(255, 96, 96),rgb(252, 79, 79));
    color: #fff;
}
.actual-del:hover {
    background: rgb(240, 54, 54);
}
.main-broadcaste {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/attention_bg.png');
    background-size: cover;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}
.main-broadcaste h1 {
    color: rgb(255, 255, 255);
    transform: translateY(40px);
    font-size: 24px;
}
.load-box {
    width: 100%;
    padding: 10px;
}
.loder {
    padding: 2px;
    background: white;
    border-radius: 5px;
    width: 0;
    animation: ldr 1s linear forwards;
}
@keyframes ldr {
    0% {
        width: 0;
    }
    99% {
        width: 100%;
    }
    100% {
        visibility: hidden;
    }
}
.attention-list {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.507);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 64px;
    box-sizing: border-box;
    visibility: hidden;
    animation: 1s 1s app1 forwards;
}
.attention-list::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
.attention-note {
    position: relative;
    color: rgba(255, 255, 255, 0.705);
    padding: 16px;
    background: linear-gradient(rgba(255,255,255,0.048), rgba(255, 255, 255, 0.028));
    border-radius: 8px;
    transition: 0.2s ease;
    font-size: 14px;
    font-family: 'Montserrat';
    padding-bottom: 32px;
}
.attention-note:hover {
    background: linear-gradient(rgb(109, 109, 255),rgb(99, 99, 230));
    color: ivory;
}
.date-attention {
    color: rgba(255, 255, 255, 0.637);
    position: absolute;
    right: 8px;
    bottom: 4px;
    font-size: 10px;
}
.inside-list {
    background: rgba(255,255,255,0.048);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 80%;
}
@keyframes app1 {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}
.close-attention {
    position: absolute;
    right: 8px;
    top: 16px;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}
.close-attention:hover {
    color: red;
}
.broad-input-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    z-index: 15;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}
.broad-input {
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.048);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    width: 400px;
}
.broad-input:focus {
    border: 2px solid rgb(29, 133, 253);
}
.broad-input::placeholder {
    font-weight: lighter;
}
.broad-button {
    padding: 16px 34px;
    border: none;
    background: linear-gradient(rgb(82, 82, 255),rgb(61, 61, 224));
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.broad-button:hover {
    background: linear-gradient(rgb(65, 65, 230),rgb(61, 61, 224));
}
.close-announce-input-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.animation-fade {
    color: white;
    mix-blend-mode: exclusion;
    animation: fadebg 1s infinite alternate ease;
}
@keyframes fadebg {
    from{
        opacity: 1;
    }to {
        opacity: 0;
    }
}
.kick-span {
    display: none;
    color: rgb(255, 42, 42);
    font-weight: bold;
    transition: 0.2s ease;
}
.kickout-btn {
    border-radius: 4px;
    background: #221e27d2;
    color: rgba(255, 255, 255, 0.103);
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    transition: 0.2s ease;
    z-index: 3;
}
.kickout-btn:hover .close-button {
    color: rgb(255, 42, 42);
}
.kickout-btn:hover .kick-span {
    display: flex;
}
.kickout-btn:hover {
    background: rgba(250, 9, 9, 0.068);
    color: rgb(148, 18, 18) !important;
}
.change-password-error-message-box {
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: rgba(252, 252, 252, 0.021);
    padding: 16px;
    border-radius: 8px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
@keyframes app {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}
.each-warn-message {
    padding: 8px;
    color: rgba(249, 253, 132, 0.651);
    animation: app 1s forwards;
}
.among-us-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/amongus.png");
    background-size: cover;
    background-position: center;
}
.among-us-container:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:linear-gradient(rgb(23, 23, 31),rgb(13, 13, 37));
    top: 0;
    left: 0;
}
.all-player-box {
    position: absolute;
    width: 100%;
    height: 30%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 16px;
    background: rgba(255, 255, 255, 0.007);
    bottom: 0; 
    left: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}
.all-player-box::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.each-player-box {
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(to top,rgb(236, 236, 236),white);
    border-radius: 0 8px 8px 8px;
    padding: 8px;
    min-height: 50px;
    overflow: hidden;
}
.each-player-box::before {
    position: absolute;
    content: '';
    right: -10px;
    width: 70px;
    height: 40px;
    background: rgb(44, 44, 44);
    transform: skewX(-20deg);
    border-radius: 8px 0 0 2px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.856) inset;
}
.each-player-box::after {
    position: absolute;
    content: '';
    left: -10px;
    top: 0;
    width: 100px;
    height: 10px;
    background: rgb(39, 39, 39);
    transform: skewX(-40deg);
}
.player-image {
    width: 35px;
    z-index: 3;
}
.player-name {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.685);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8px;
    background: transparent;
    border: none;
}
.player-button {
    font-weight: bold;
    padding: 4px;
    color: rgb(170, 170, 170);
    font-size: 10px;
    z-index: 2;
}
.player-button:hover {
    color: rgb(255, 255, 255);
}
.game-main-container {
    position: absolute;
    background: #DFE1E1;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    border-radius: 8px;
    perspective: 900px;
    transform-origin: center center;
}
.pb1 {
    position: relative;
    width: 100px;
    height: 150px;
    background: linear-gradient(white,rgb(238, 238, 238));
    background-position: center;
    overflow: hidden;
    border-radius: 8px 8px 0 8px;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    /* transform: rotateY(180deg); */
}
.pb1:hover .all-settings-box {
    opacity: 1;
}
.pb1:after {
    position: absolute;
    width: 100px;
    height: 120%;
    background: red;
    content: '';
    top: -130px;
    left: -140px;
    transform: rotate(30deg);
    box-shadow: 100px 0 20px rgba(0, 0, 0, 0.533);
    z-index: 50;
}
.pb1:before {
    position: absolute;
    width: 100px;
    height: 120%;
    background: red;
    content: '';
    top: -130px;
    right: -140px;
    transform: rotate(-30deg);
    box-shadow: -100px 0 20px rgba(0, 0, 0, 0.533);
    z-index: 50;
}
.pb11 {
    position: relative;
    width: 100%;
    height: 70%;
    background: #333;
}
.pb12 {
    position: absolute;
    width: 70%;
    height: 20px;
    background: rgb(29, 29, 29);
    right: -10%;
    bottom: 0;
    transform: skew(-40deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pb12:before {
    position: absolute;
    content: '';
    width: 5px;
    left: -8px;
    bottom: 0;
    height: 20px;
    background: rgb(29, 29, 29);
}
.player-score {
    color: rgb(255, 255, 255);
    transform: skew(40deg);
    font-family: 'Dreamscape Sans';
    font-size: 12px;
    transition: 0.2s ease-out;
}
.pb1:hover .player-score {
    color: rgba(255, 255, 255, 1);
}
.selected-player-name {
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
    padding: 4px;
}
.selected-player-image {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
}
.all-settings-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.849);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 60;
    opacity: 0;
    backdrop-filter: blur(5px);
    transition: 0.2s ease-out;
}
.color-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
    justify-content: center;
    gap: 4px;
    z-index: 51;
}
.color-cir {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
}
.score-set-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
    justify-content: center;
    gap: 4px;
    color: #333;
}
.set-score-button {
    border: none;
    width: 20px;
    height: 20px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    background: linear-gradient(rgb(255, 255, 255),rgb(229, 229, 230));
    color: rgb(78, 27, 99);
}
.new-game-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.959);
    z-index: 20;
    backdrop-filter: blur(10px);
    background-image: url('../images/amgbg.jpg');
    background-position: center;
    background-position-x: 0;
    background-position-y: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.new-game-button {
    border: none;
    padding: 16px 34px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(45deg, #ffab1d,#f8501c);
    color: #fff;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.game-main-title {
    font-size: 70px;
    color: #fff;
    font-family: 'Dreamscape';
}
.new-game-button:hover {
    transform: scale(1.1);
}
.redColor {
    background: red;
}
.greenColor {
    background: rgb(5, 150, 0);
}
.yellowColor {
    background: rgb(255, 251, 0);
}
.blueColor {
    background: rgb(55, 0, 255);
}
.violetColor {
    background: rgb(225, 0, 255);
}
.limeColor {
    background: rgb(0, 255, 0);
}
.brownColor {
    background: rgb(110, 53, 0);
}
.blackColor {
    background: rgb(32, 32, 32);
}
.orangeColor {
    background: rgb(255, 166, 0);
}
.whiteColor {
    background: rgb(214, 214, 214);
}
.pinkColor {
    background: rgb(250, 91, 215);
}
.empty-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
}
.empty-player video {
    width: 100%;
    transform: translateY(-32%);
}
.endgame-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-weight: bold;
    background: linear-gradient(45deg,#444444,#1f1f1f);
    padding: 16px 34px;
    color: rgb(238, 238, 238);
    z-index: 25;
    border-radius: 5px 5px 0 0;
}
.endgame-button:before {
    position: absolute;
    content: '';
    right: -10px;
    bottom: 0;
    width: 80px;
    height: 8px;
    background: #DFE1E1;
    z-index: 26;
    transform: skew(-40deg);
}
.endgame-button:after {
    position: absolute;
    content: '';
    top: 3px;
    left: 2px;
    width: 5px;
    height: 89%;
    border-radius: 20px;
    background: #DFE1E1;
    z-index: 26;
}
.endgame-button:hover:after {
    background: linear-gradient(rgb(255, 113, 113),red);
    box-shadow: 0 0 10px red; 
}
.endgame-screen {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.game-winner-name {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    font-family: 'Dreamscape';
    font-weight: bold;
    opacity: 0.8;
    color: #fff;
}
.game-winner-name:before {
    position: absolute;
    content: 'MVP';
    color: gold;
    font-size: 18px;
    transform: rotate(-90deg);
    left: -34px;
    top: 20px;
}
.vazhaplayer:before {
    position: absolute;
    content: 'VAZHA';
    color: gold;
    font-size: 18px;
    transform: rotate(-90deg);
    left: -50px;
    top: 20px;
}
.screenshot-button {
    position: absolute;
    padding: 16px 34px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(rgba(255, 255, 255, 0.267),rgba(255, 255, 255, 0.118));
    font-weight: bold;
    margin: 8px;
    color: rgba(255, 255, 255, 0.719);
    cursor: pointer;
}
#output {
    position: absolute;
    bottom: 8px;
    right: 175px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    transform: scale(0.2);
    animation: ease float 3s infinite alternate;
}
@keyframes float {
    from {
        transform: scale(0.2) translateY(0);
    }
    to {
        transform: scale(0.2) translateY(-100px);
    }
}
#barcode-box  {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: rgba(255, 255, 255, 0.11);
    font-weight: bold;
}
.reveal-scores {
    position: absolute;
    bottom: 0;
    width: 65px;
    height: 10px;
    background: linear-gradient(45deg,rgb(41, 41, 212),rgb(69, 165, 255),rgb(41, 41, 212));
    box-shadow: 0 10px 100px rgba(0, 0, 255, 0.034);
    bottom: 4px; right: 12px;
    z-index: 100;
    transform: skew(-45deg);
    cursor: help;
    display: none;
}
.try-button {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-weight: bold;
    background: linear-gradient(45deg,#444444,#1f1f1f);
    background-image: url("../images/btnbg.png");
    background-size: cover;
    padding: 16px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(254, 255, 206);
    z-index: 25;
    border-radius: 8px;
}
.try-button:after {
    position: absolute;
    content: '';
    top: 3px;
    left: 2px;
    width: 5px;
    height: 89%;
    border-radius: 20px;
    background: #DFE1E1;
    z-index: 26;
    transition: 0.3s ease;
}
.try-button:hover:after {
    width: 97%;
    mix-blend-mode: hue;
    border-radius: 8px;
}
.snows {
    position: absolute;
}
.snow1 {
    top: -20px;
    right: 0;
    width: 30%;
}
.snow2 {
    bottom: -10px;
    left: -20px;
    width: 10%;
}
.snow3 {
    top: -25px;
    left: 0;
    width: 10%;
}
.snow4 {
    top: -14%;
    left: 0;
    width: 50%;
}
.snow5 {
    top: -20%;
    right: 0;
    width: 30%;
}
.snowfalls {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/blursnow.png");
    left: 0;
    top: 0;
    z-index: 1000;
    pointer-events: none;
    animation: snowfall1 10s linear infinite;
}
@keyframes snowfall1 {
    0% {
        background-position-y: 100%;
    }
    100% {
        background-position-y: -50%;
    }
}
.snowfalls2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/snowfall.png");
    left: 0;
    top: 0;
    z-index: 1000;
    pointer-events: none;
    animation: snowfall1 20s linear infinite;
}
.side-button-box {
    position: absolute;
    height: 50px;
    background: #DFE1E1;
    border-radius: 50px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 5px rgb(179, 179, 179), -5px -5px 5px rgba(255,255,255,0.7),5px 5px 5px rgba(179, 179, 179,0.2) inset,-5px -5px 5px rgba(255,255,255,0.7) inset;
    border: 2px solid rgba(216, 216, 216, 0);
    overflow: hidden;
}
.side-show-button{
    position: relative;
    width: 22px;
    height: 22px;
    background: url("../images/showbutton.png");
    top: 0;
    filter: grayscale(10);
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.157);
    border-radius: 30px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.01,.99,.99,-0.01);
}
#snow-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
    pointer-events: none;
}
.circle {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 0;
    background: white;
    border-radius: 50px;
    animation: snows linear forwards;
    animation-duration: 10s;
}
@keyframes snows {
    0% {
        top: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        display: block;
    }
    100% {
        top: 98%;
        opacity: 0;
        display: none;
    }
}
.winner-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/mvp.jpg");
    background-size: cover;
    background-position: center;
}
.mvp-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/amongus.png");
    background-size: cover;
    background-position: center;
}
.split-bar {
    position: absolute;
    width: 50px;
    height: 120%;
    background: linear-gradient(to right,#1F164E,#043D82);
    left: 50%;
    transform: translateX(-50%);
    filter: blur(10px);
}